#presets {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 30px;
  row-gap: 30px;
}

canvas {
  vertical-align: middle;
}

#hover {
  aspect-ratio: 1/1;
  position: absolute;
  pointer-events: none;
}

#slots {
  width: 80vw;
  max-width: 800px;
  aspect-ratio: 4/1;
}

button.preset {
  width: 50px;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  canvas#slots {
    width: 90vw;
  }

  br.nlButtons {
    display: block;
  }

  #buttons > br {
    display: none;
  }

  div#buttons {
    margin-left: 0;
  }
}

.nlButtons {
  display: none;
}

#buttons {
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
}

#buttons button {
  width: 100px;
  height: 40px;
}

label[for="tierSelect"] {
  vertical-align: top;
}

#tierSelect {
  display: inline-block;
}

input:disabled + label {
  color: lightslategray;
}
